#!/usr/bin/make -f
# -*- makefile -*-
DEB_BUILD_OPTIONS += nocheck
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#PYTHON3=$(shell py3versions -vr)

%:
	dh $@ \
		--with python3 --buildsystem=pybuild \
		--with bash-completion

override_dh_auto_clean:

	rm -rf debian/pyromaths
	find $(CURDIR) -name "*\.py[co]" | xargs rm -f

#override_dh_python3:
	#dh_python3 /usr/lib/python3/dist-packages/pyromaths
